Source: rust-syslog-server
Section: FIXME-IN-THE-SOURCE-SECTION
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native,
 rustc:native,
 libstd-rust-dev,
 librust-anyhow-1+default-dev,
 librust-clap-4+default-dev (>= 4.5-~~),
 librust-clap-4+derive-dev (>= 4.5-~~),
 librust-env-logger-0.11+default-dev,
 librust-log-0.4+default-dev
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.7.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/syslog-server]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/syslog-server
Homepage: https://github.com/NachtsternBuild/Syslog-Server
X-Cargo-Crate: syslog-server

Package: syslog-server
Architecture: any
Section: utils
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${cargo:Depends}
Recommends:
 ${cargo:Recommends}
Suggests:
 ${cargo:Suggests}
Provides:
 ${cargo:Provides}
Built-Using: ${cargo:Built-Using}
Static-Built-Using: ${cargo:Static-Built-Using}
Description: Syslog-Server Project in Rust
 A small automation project to set up a syslog server, which also serves as a
 playground for Rust.
